* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
  }
  
  .container {
    width: 1600px;
    height: 1300px;
    position: relative;
    background: white;
  }
  
  .background-img {
    width: 2241px;
    height: 1434px;
    position: absolute;
    top: -134px;
    left: -232px;
    box-shadow: 300px 300px 300px;
    filter: blur(300px);
  }
  
  .overlay {
    width: 597px;
    height: 249px;
    position: absolute;
    top: 299px;
    left: 240px;
    background: black;
    mix-blend-mode: multiply;
  }
  
  .main-box {
    width: 1345px;
    height: 1061px;
    position: absolute;
    top: 180px;
    left: 129px;
    background: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.10);
    border-radius: 30px;
  }
  
  .inner-box {
    width: 1346px;
    height: 1054px;
    position: absolute;
    top: 134px;
    left: 115px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 9.02px;
    position: absolute;
    top: 131px;
    left: 113px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.29px;
    height: 20.29px;
    padding: 3.38px;
  }
  
  .border-circle {
    width: 13.53px;
    height: 13.53px;
    border: 1.69px solid #F16B8B;
  }
  
  .text {
    color: #F16B8B;
    font-size: 18.04px;
    font-weight: 400;
  }
  
  .title {
    position: absolute;
    font-size: 27.06px;
    font-weight: 600;
    color: #252525;
    word-wrap: break-word;
  }
  
  .title:nth-child(2) {
    top: 197px;
  }
  
  .title:nth-child(3) {
    top: 425px;
  }
  
  .title:nth-child(4) {
    top: 643px;
  }
  
  .image-gallery {
    width: 550px;
    height: 618px;
    position: absolute;
    top: 237px;
    left: 111px;
  }
  
  .image {
    width: 152px;
    height: 160px;
    position: absolute;
    border-radius: 11.27px;
    border: 1.13px solid #E7E9EB;
  }
  
  .image:nth-child(1) {
    left: 5px;
    top: 0;
    border: 1.13px solid #0080FF;
  }
  
  .image:nth-child(2) {
    left: 398px;
    top: 223px;
    border: 1.13px solid #ECECEC;
  }
  
  .image:nth-child(3) {
    left: 205px;
    top: 227px;
    border: 1.13px solid #E7E9EB;
  }
  
  .color-options {
    position: absolute;
    top: 180px;
    left: 115px;
  }
  
  .color-option {
    color: #696969;
    font-size: 18.04px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .pricing-box {
    width: 486.99px;
    height: 786.86px;
    position: absolute;
    top: 150px;
    left: 750px;
    background: rgba(215.69, 113.24, 174.71, 0.05);
    border-top-left-radius: 33.82px;
    border-top-right-radius: 33.82px;
  }
  
  .pricing-inner-box {
    width: 369.76px;
    height: 121.75px;
    position: absolute;
    top: 10.15px;
    background: white;
    border-radius: 18.04px;
  }
  
  .flower-img {
    width: 87.93px;
    height: 91.31px;
    position: absolute;
    top: 24.80px;
    left: 25.93px;
  }
  
  .flower-details {
    position: absolute;
    top: 32.69px;
    left: 158.95px;
  }
  
  .flower-name {
    color: #2B2B2B;
    font-size: 15.78px;
    font-weight: 500;
  }
  
  .flower-price {
    color: black;
    font-size: 18.04px;
    font-weight: 700;
  }
  
  .remove-button {
    width: 29.31px;
    height: 29.31px;
    position: absolute;
    top: 0;
    left: 347.21px;
    background: #FC4040;
    border-radius: 9999px;
  }
  
  .remove-button .border-cross {
    width: 18.04px;
    height: 18.04px;
    position: absolute;
    top: 5.64px;
    left: 5.64px;
    border: 1.69px solid white;
    transform: rotate(45deg);
  }
  
  .add-to-cart {
    width: 369.76px;
    height: 48.43px;
    position: absolute;
    top: 556.81px;
    left: 74.16px;
    background: #F16B8B;
    border-radius: 18.04px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-to-cart-text {
    color: white;
    font-size: 18.04px;
    font-weight: 500;
  }
  
  .order-summary {
    position: absolute;
    top: 871.18px;
    left: 77.09px;
    width: 500px;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .summary-text {
    font-size: 18.04px;
    font-weight: 500;
  }
  
  .summary-price {
    font-size: 18.04px;
    font-weight: 700;
    color: black;
  }
  